/* -------------------- */
/* QUESTIONS            */
/* -------------------- */
.wrapper {
  margin-block: var(--spacing-700);
  margin-inline: auto;
  max-width: 37.5rem;
}

.title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-700);
  font-weight: 700;
  margin-block: var(--spacing-700);
  text-align: center;
}
