.hero {
  display: flex;
  min-height: 10rem;
  padding-block: var(--spacing-600);
  /* margin-block: var(--spacing-600); */
  background-image: url('https://images.pexels.com/photos/3861958/pexels-photo-3861958.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-dark-500);
  opacity: 0.9;
}

.hero * {
  position: relative;
  z-index: 10;
}

.hero > * {
  /* border: 2px solid lime; */
}

.logo {
  font-size: clamp(3rem, 10vw + 1rem, 8rem);
  font-weight: 700;
  font-family: var(--ff-secondary);
  color: var(--clr-accent-400);
}

.heroBtn {
  margin-top: var(--spacing-500);
  background-color: var(--clr-accent-400);
  /* color: var(--clr-dark-500); */
  border-radius: var(--border-radius);
  margin-right: var(--spacing-200);
  font-weight: bold;
  font-size: var(--fs-500);
}

.heroBtn:hover,
.heroBtn:focus {
  outline: 0;
}

.heroBtn:last-child {
  background-color: transparent;
}

.title {
  font-size: var(--fs-500);
}

.wrapper {
  position: relative;
}

.wrapper::before {
  content: '';
  background-color: var(--clr-light-400);
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

@media screen and (min-width: 48em) {
  .logo {
    max-width: 5ch;
    text-align: end;
  }

  .title {
    max-width: 20rem;
  }

  .hero {
    min-height: 32rem;
  }

  .heroContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .wrapper {
    padding-left: 2rem;
  }

  .wrapper::before {
    display: block;
  }
}
