/* -------------------- */
/* HERO SECTION         */
/* -------------------- */
.heroContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1619410283995-43d9134e7656?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 10rem;
  padding-block: var(--spacing-600);
  position: relative;
}

.hero::after {
  content: '';
  background-color: var(--clr-dark-500);
  height: 100%;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.hero * {
  position: relative;
  z-index: 10;
}

.logo {
  color: var(--clr-accent-400);
  font-family: var(--ff-secondary);
  font-size: clamp(3rem, 10vw + 1rem, 8rem);
  font-weight: 700;
}

.title {
  font-size: var(--fs-500);
}

.heroBtn {
  background-color: var(--clr-accent-400);
  border-radius: var(--border-radius);
  font-size: var(--fs-500);
  font-weight: bold;
  margin-right: var(--spacing-200);
  margin-top: var(--spacing-500);
}

.heroBtn:hover,
.heroBtn:focus {
  outline: 0;
  background-color: var(--clr-accent-500);
}

.heroBtn:last-child {
  background-color: transparent;
}

.heroBtn:last-child:hover {
  color: var(--clr-light-500);
}

.wrapper {
  position: relative;
}

.wrapper::before {
  content: '';
  background-color: var(--clr-accent-400);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

@media screen and (min-width: 48em) {
  .heroContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .hero {
    min-height: 32rem;
  }

  .logo {
    max-width: 5ch;
    text-align: end;
  }

  .title {
    max-width: 20rem;
  }

  .wrapper {
    padding-left: 2rem;
  }

  .wrapper::before {
    display: block;
  }
}
