/* -------------------- */
/* TOAST MODULE         */
/* -------------------- */
.toast {
  align-items: center;
  background-color: var(--clr-dark-400);
  border-radius: var(--border-radius);
  bottom: 0.5rem;
  box-shadow: var(--box-shadow);
  display: flex;
  gap: 0.5rem;
  padding: var(--spacing-300);
  position: fixed;
  right: 50%;
  transform: translateX(50%) translateY(15rem);
  width: min(90%, 18rem);
  transition: transform 400ms ease;
}

.toast.open {
  transform: translateX(50%) translateY(0);
}

.title {
  font-weight: 700;
}

.icon {
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  margin-right: var(--spacing-100);
}

@media screen and (min-width: 48em) {
  .toast {
    bottom: initial;
    top: 18%;
    transform: translateX(50%) translateY(-15rem);
  }
}
