/* -------------------- */
/* TOPICS               */
/* -------------------- */
.topics {
  margin-block: var(--spacing-700);
}

.topicsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  /* border: 2px solid lime; */
  align-items: start;
  max-width: 30rem;
  min-height: 30rem;
}

.title {
  font-size: var(--fs-700);
  font-weight: 700;
  text-align: center;
  margin-block: var(--spacing-700);
  font-family: var(--ff-secondary);
}

@media screen and (min-width: 48em) {
  .topics {
    margin-block: var(--spacing-800);
  }

  .topicsContainer {
    max-width: 60rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
