/* -------------------- */
/* TOPICS CARD          */
/* -------------------- */
.card {
  align-items: center;
  background-color: var(--clr-dark-400);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  gap: 1rem;
  padding: var(--spacing-200);
  text-align: start;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.name {
  font-size: var(--fs-500);
  font-weight: 700;
}

.topicImg {
  width: 6rem;
  height: 6rem;
  background-color: var(--clr-dark-500);
  border-radius: var(--border-radius);
}

.cardBtn {
  background-color: var(--clr-accent-400);
  border-radius: var(--border-radius);
  color: var(--clr-light-400);
  font-size: var(--fs-400);
  font-weight: 700;
  box-shadow: var(--box-shadow);
}

.cardBtn:hover,
.cardBtn:focus {
  outline: 0;
  background-color: var(--clr-accent-500);
}

@media screen and (min-width: 48em) {
  .card {
    flex-direction: column;
    padding: var(--spacing-300);
    text-align: center;
  }

  .topicImg {
    height: auto;
    width: 100%;
  }

  .wrapper {
    width: 100%;
  }

  .cardBtn {
    margin-top: var(--spacing-200);
    width: 100%;
  }
}
