/* -------------------- */
/* TOPICS               */
/* -------------------- */
.topicsContainer {
  align-items: start;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  max-width: 30rem;
  min-height: 30rem;
}

.topics {
  margin-block: var(--spacing-700);
}

.title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-700);
  font-weight: 700;
  margin-block: var(--spacing-700);
  text-align: center;
}

@media screen and (min-width: 48em) {
  .topics {
    margin-block: var(--spacing-800);
  }

  .topicsContainer {
    grid-template-columns: repeat(4, 1fr);
    max-width: 60rem;
  }
}
