/* -------------------- */
/* TOPICS               */
/* -------------------- */

.topicsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-block: var(--spacing-700);
}

@media screen and (min-width: 48em) {
  .topicsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
