/* -------------------- */
/* NAVIGATION BAR       */
/* -------------------- */
.header {
  background-color: var(--clr-dark-400);
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 20;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-block: var(--spacing-200);
}

.logo {
  color: var(--clr-accent-300);
  font-family: var(--ff-secondary);
  font-size: var(--fs-800);
}

.menu {
  background-color: var(--clr-dark-400);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: var(--spacing-400);
  position: absolute;
  right: 0.5rem;
  top: 4rem;
  transform: scale(0);
  opacity: 0;
  transition: opacity 500ms ease, transform 50ms ease;
}

.menu.open {
  opacity: 1;
  transform: translateY(0);
}

.menuRight {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.menuLink:hover,
.menuLink:focus {
  outline: 0;
  color: var(--clr-accent-300);
  transition: color 350ms ease;
}

.navToggle {
  background-color: transparent;
  color: var(--clr-light-400);
  font-size: var(--fs-600);
  padding: var(--spacing-100);
  transition: color 350ms ease;
}

.navToggle:hover,
.navToggle:focus {
  outline: 0;
  color: var(--clr-light-500);
}

.user {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.userName {
  display: none;
  font-weight: 700;
  transition: color 350ms ease;
}

.userName:hover,
.userName:focus {
  color: var(--clr-light-500);
}

.userImg {
  border-radius: 50%;
  border: 3px solid var(--clr-accent-300);
  width: 2.25rem;
}

@media screen and (min-width: 48em) {
  .navbar {
    padding-block: var(--spacing-300);
  }

  .menu {
    background-color: transparent;
    box-shadow: none;
    flex-direction: row;
    gap: 1rem;
    opacity: 1;
    padding: initial;
    position: initial;
    transform: translateY(0);
  }

  .navToggle {
    display: none;
  }

  .userName {
    display: block;
  }

  .userImg {
    width: 2.5rem;
  }
}
