/* -------------------- */
/* RESULT MODULES       */
/* -------------------- */
.result {
  background-color: var(--clr-dark-400);
  bottom: 0;
  left: 0;
  margin-inline: auto;
  max-width: 37.5rem;
  min-width: 100%;
  padding-block: var(--spacing-300);
  position: sticky;
  right: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-size: var(--fs-500);
}

.answerGroup {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  margin-bottom: var(--spacing-200);
}

.rightAnswer {
  color: var(--clr-green-400);
  margin-left: 0.5rem;
  font-weight: 700;
}

.wrongAnswer {
  color: var(--clr-red-400);
  font-weight: 700;
  margin-left: 0.5rem;
}

.resetBtn {
  background-color: var(--clr-accent-400);
  color: var(--clr-light-400);
  border-radius: var(--border-radius);
  width: 100%;
  font-weight: 700;
  box-shadow: var(--box-shadow);
}

.resetBtn:hover,
.resetBtn:focus {
  outline: 0;
  background-color: var(--clr-accent-500);
}

@media screen and (min-width: 35em) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .answerGroup {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .resetBtn {
    width: 8rem;
  }
}
