.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-dark-300);
  padding-block: var(--spacing-400);
  box-shadow: var(--box-shadow);
  text-align: center;
}

.title {
  font-size: var(--fs-500);
  font-weight: 700;
}

@media screen and (min-width: 48em) {
  .footer {
    padding-block: var(--spacing-500);
  }
}
