/* -------------------- */
/* BLOG                 */
/* -------------------- */
.blogContainer {
  margin-block: var(--spacing-700);
  min-height: 72rem;
}

.title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-700);
  font-weight: 700;
  margin-block: var(--spacing-700);
  text-align: center;
}
