/* -------------------- */
/* BLOG CARD            */
/* -------------------- */
.card {
  background-color: var(--clr-dark-400);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card + * {
  margin-top: var(--spacing-500);
}

.question {
  font-size: var(--fs-600);
  font-weight: 700;
  margin-bottom: var(--spacing-300);
}

.text {
  padding: var(--spacing-300);
}

.img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  max-height: 20rem;
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 62em) {
  .img {
    border-radius: 0;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    height: 100%;
    width: 30rem;
  }
  .card {
    flex-direction: row;
    align-items: center;
  }
  .text {
    max-width: 65ch;
  }
}
