/* -------------------- */
/* PAGE NOT FOUND       */
/* -------------------- */
.errorPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.title {
  align-items: center;
  color: var(--clr-red-400);
  display: flex;
  font-family: var(--ff-secondary);
  font-size: var(--fs-900);
  font-weight: 700;
  gap: 0.5rem;
}

.text {
  font-weight: 700;
}

.message {
  color: var(--clr-light-500);
}

.homeBtn {
  background-color: var(--clr-dark-300);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-top: var(--spacing-300);
}

.homeBtn:hover,
.homeBtn:focus {
  outline: 0;
  background-color: var(--clr-light-500);
}
