.errorPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.title {
  font-size: var(--fs-900);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.text {
  font-weight: 700;
}

.message {
  color: var(--clr-light-500);
}

.homeBtn {
  background-color: var(--clr-dark-500);
  border-radius: var(--border-radius);
  margin-top: var(--spacing-300);
}
